In [5]:
#Accessing integer 
age=45
#floating point
salary_123=2550.5
#string
_name='deepen'
#_address="ilam"
print(age)
print(salary_123)
print(_name)
#print(age+salary_123)
#print(_name+_address)

45
2550.5
deepen

In [6]:
age=34
age=24
name_="dipen"
_rollno=24
print(age)
print(name_)
print(_rollno)

24
dipen
24

In [7]:
#Assigning a single value to multiple variables: 
a = b = c = 10
# a = 10
# b = 5
# c = 10
  
print(a)
print(b)
print(c)

10
10
10

In [8]:
age,_marks,subeject=23,10.5,"python"
#age=23
#marks=10.5
#subeject="python"
print(age)
print(_marks)
print(subeject)

23
10.5
python

In [11]:
a=10
b=20
print(a+b)
#add string
a="deepen"
b="bhujel"
print("my name is:",(a+b))

30
my name is: deepenbhujel

In [12]:
# if we do "" in integer num it turn in to string
a="10"
b="20"
sum=(a+b)
print("the sum is",sum)

the sum is 1020